body {
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    background: #FFFFFF;
    text-align: center;
    padding: 30px 0 10px 0;
}

.cabecalho h1 {
    font-size: 40px;
    vertical-align: center;
}

.cabecalho, .miolo{
    margin: auto;
    width: 50%;
}

.fotoperfil {
    width: 180px;
}
.cabecalho img {
    padding-bottom: 20px;
}

.cabecalho li {
    padding: 0 5px 0 5px;
    display: inline-block;
}

.cabecalho p, .miolo p {
    font-size: 17px;
    padding: 15px;
}

.icones {
    width: 30px;
    height: 30px;
}

.miolo {
    margin-top: 40px;
    background: linear-gradient(#FEFEFE, #dbdbdb);
}

.miolo > p {
    font-weight: bold;
}

.itens, .itensprogresso, .itensgithub {
    padding: 15px 15px;
}

.itens:before {
    content: "✅ ";
}

.itensprogresso:before {
    content: "⌛ ";
}

.itensgithub:before {
    content: url("icone-github.png");
}

.rodape {
    border-top: solid 0.5px;
    margin: auto;
    width: 50%;
}

footer p {
    background: #dbdbdb;
    text-align: center;
}

.rodape p {
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

/* CSS dos links */
a {
    color: #2666bf;
    text-decoration: none;
}

a:hover {
    color: #2691bf;
    text-decoration: underline;
}

a:visited {
    color: #2666bf;
}

/* CSS para responsividade */
@media screen and (max-width: 480px) {
    .cabecalho, .rodape, .miolo {
        width: auto;
}