.produtos {
    margin: 50px auto;
}

.produtos__informacoes {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 30px auto 10px auto;
    justify-content: space-between;
}

.produtos__titulo {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    color: #464646;
}

.produtos__vertudo {
    display: flex;
    font-size: 16px;
    line-height: 18px;
    color: #2A7AE4;
    align-items: center;
}

.produtos__vertudo--link {
    text-decoration: none;
    color: #2A7AE4;
}

.produtos__vertudo--link:hover {
    text-decoration: underline;
}

.produtos__vertudo::after {
    content: url("./assets/img/seta.png");
    margin: 0 0 0 12px;
}

.produtos__secao {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.produtos__lista--titulo {
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 8px 0;
}

.produtos__lista--valor {
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    margin: 8px 0;
}

.produtos__lista--link a, .produitos__lista--link:visited {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #2A7AE4;
}

.produtos__lista--link:hover {
    text-decoration: underline;
}