body {
    font-family: 'Roboto', sans-serif;
    margin: 3rem auto;
    width: 50%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.infos {
    display: flex;
    flex-direction: column;
    background: #Fdfdfd;
}

.infos h1 {
    font-size: 45px;
    margin: 2rem auto;
}

.avatar {
    width: 250px;
}

.infos img {
    padding-bottom: 20px;
    align-items: center;
}

.infos li {
    display: inline-block;
    margin: 2rem 0;
}

.infos p, .miolo p {
    font-size: 18px;
    line-height: 1.4rem;
}

.icones {
    width: 30px;
    height: 30px;
}

.miolo {
    margin-top: 3rem;
    background: linear-gradient(#FEFEFE, #dbdbdb);
}

.miolo > p {
    font-weight: bold;
}

.itens, .itensprogresso, .itensgithub {
    padding: 15px 15px;
}

.itens:before {
    content: "✅ ";
}

.itensprogresso:before {
    content: "⌛ ";
}

.itensgithub:before {
    content: url("../img/icone-github.png");
}

.rodape {
    border-top: solid 0.5px;
    margin: auto;
}

footer p {
    background: #dbdbdb;
    text-align: center;
}

.rodape p {
    padding: 10px;
    font-size: 12px;
    text-align: left;
}

/* CSS dos links */
a {
    color: #2666bf;
    text-decoration: none;
}

a:hover {
    color: #2691bf;
    text-decoration: underline;
}

a:visited {
    color: #2666bf;
}

/* CSS para responsividade */
@media screen and (max-width: 480px) {
    .infos, .rodape, .miolo {
        width: auto;
    }
}