.formcontato {
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
}

.contato__imagem {
    justify-content: right;
    width: 33%;
}

.contato__titulo {
    font-size: 22px;
}

.contato__descricao {
    font-size: 16px;
    font-weight: 100;
}

.formulario {
    flex-direction: column;
    display: flex;
}

.contato__input, .contato__textarea {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    width: 540px;
    height: 56px;
    top: 0px;
    background: #FFFFFF;
    border-color: #d3c7c7;
    border-top: none;
    border-left: none;
    border-right: none;
}

.contato__botao {
    font-size: 16px;
    color: #fdfdfd;
    padding: 1rem 2rem;
    background-color: #2A7AFF;
    border-color: #2A7AE4;
    margin-top: 1.2rem;
    text-decoration: none;
    width: 40%;
}